<div class='main container'>
  <div class='ui piled segment'>
    <div class='full height'>
      <div class='tab header segment'>
        <div class='introduction'>
          <div class='ui inverted teal vertical segment'>
            <div style='margin: 10px; padding: 10px'>
              <h1 class='ui inverted header'>C.I.A. Services</h1>
              <h3 class='ui inverted header' style='margin-top: -20px;'>Northern VA & Surrounding Areas | <a href="tel:+17034424000" style="color: white">703.442.4000</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class='four item tabular ui menu'>
        <a class='item active' data-tab='home'>Home</a>
        <a class='item' data-tab='carpet'>Carpet</a>
        <a class='item' data-tab='wood'>Wood</a>
        <a class='item' data-tab='contact'>Contact</a>
      </div>
      <div class='main demo container'>
        <div class='ui tab active' data-tab='home'>
          <div class='ui grid'>
            <div class='ten wide column'>
              <p>
                <br>
                C.I.A. Services is a commercial and residential carpet and floor care company. We offer commercial cleaning and maintenance programs to maintain the appearance and warranties of your carpets and/or floors. We have been serving the Northern Virginia and Metropolitan Area since 1998. We are members of the Greater McLean Chamber of Commerce, IICRC, NWFA, as well as other associations.
              </p>
            </div>
            <div class='six wide column'>
              <img src="http://cache4.asset-cache.net/xc/110884492.jpg?v=2&c=IWSAsset&k=2&d=h3WX9LXl1UYgXP5FnEk9-JJfwFtBzqZjQwxcvxjO4N8QvKSiCTvDx5tdGv8K8uGW0" alt="hardwood" width="100%">
            </div>
            <div class='six wide column'>
              <img src="http://cia-cleanersinaction.com/wp-content/uploads/2014/10/CIA-Carpet-23-of-50.jpg" alt="hardwood" width="100%">
            </div>
            <div class='ten wide column'>
              <p>
                <br>
                CIA Services is dedicated to superior quality and client satisfaction. We are a service oriented company; we take pride in our work and pay attention to the small details.  As a result, our customers come back year after year
              </p>
            </div>
          </div>
        </div>
        <div class='ui tab' data-tab='carpet'>
          <h2 class='ui dividing header'>Beautify your home...<a class='anchor' id='carpet'></a></h2>
          <p>
            Vacuuming your carpet regularly is the first step in keeping your carpet looking beautiful.  Many carpet manufacturers recommend professional carpet cleaning every 12 to 18 months.  Choice of the proper carpet cleaning equipment and system is important.   Some systems may leave residues which promote re-soiling and defeat the whole purpose of cleaning.
            CIA Services uses an advanced truck-mounted hot water extraction system.  This process consists of spraying a heated solution of water and detergent into the carpet pile.   The solution is immediately extracted with a powerful vacuum into a holding tank.   This is done by a truck-mounted unit outside the home with only the hose and wand are brought inside your home.  In high-rises, where a truck-mounted unit cannot reach, a portable, self-contained system is used.
          </p>
          <p>
            This approach has excellent results for cleaning moderate to heavily soiled carpet.  The operator can observe when the solution is soil free and the drying time is somewhat less than with the shampoo process.
          </p>
          <h3 class='ui header'>Cleaning area & oriental rugs...</h3>
          <p>
            ...is usually done at our facility which has been designed for specialized cleaning of loose or valuable rugs.  Following are the steps we take to clean your rugs in our facility:
            <ul>
              <li>Inspect and then send your rug through a duster to remove dry, embedded soil</li>
              <li>Pre-spot if necessary</li>
              <li>Hand-shampoo</li>
              <li>Rinse using cold water and then remove the excess water</li>
              <li>Groom your rug so that the nap / pile is going in one direction</li>
              <li>Carefully dry your rug in a climate controlled drying chamber</li>
              <li>Final quality inspection</li>
            </ul>
          </p>
          <p>
            We can also assist with repair and re-weaving of your fine oriental rugs.
          </p>
        </div>
        <div class='ui tab' data-tab='wood'>
          <h2 class='ui dividing header'>Hardwood Floors Enhance Your Home...<a class='anchor' id='wood'></a></h2>
          <p>
            C.I.A. Services offers the following services for hardwood flooring:
          </p>
          <p>
            Sanding, Refinishing, Installation and Repairs.
          </p>
          <p>
            We have a variety of hard wood products to choice from for installation of your new hardwood floors. We can sand and prepare all types of hardwood flooring whether to a new, old or established hardwood floor. Our finishing will enhance the look of the natural wood features to any room. For further information about our Hardwood Floor service <a href="mailto:info@cia4services.com">Contact Us.</a>
          </p>
          <h3 class='ui header'>Care of Hardwood Floors</h3>
          <ul>
            <li>Place area rugs or mats at entrances to protect wood floors from scratches. </li>
            <li>Sweep wood floors regularly with a soft bristle broom or vacuum attachment to remove loose dirt before it can scratch the surface.</li>
            <li>When moving furniture across a wood floor, either pick it up or place protective pads between the floor and the furniture.</li>
            <li>Never clean a hardwood floor with water, soaps or detergents.</li>
            <li>Most food spills will not harm a wood surface, but they should be cleaned up promptly with a paper towel or dry cloth.</li>
            <li>Never use vinyl or tile floor care products on hardwood floors.</li>
            <li>Keep potted plants off a wood floor so condensation does not build up and damage the floor.</li>
            <li>Be sure to follow the manufacturer's guidelines for the care of your floor. </li>
          </ul>
        </div>
        <div class='ui tab' data-tab='contact'>
          <h2 class='ui dividing header'>Contact<a class='anchor' id='contact'></a></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.menu .item').tab();
</script>
