<!DOCTYPE html>
<html>
<head>
  <title>CIA Services: Serving Northern Virginia and the Surrounding Areas - 703-442-4000</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='main container'>
    <div class='ui piled segment'>
      <%= yield %>
      <br>
      <br>
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td colspan='1'>
              <a href="http://www.woodfloors.org"><img src="http://www.cia4services.com/images/logo_nwfa.gif" border="0" alt="" width="60%" style='margin-left: 18%'></a>
            </td>
            <td colspan='1'>
              <div><a href="http://www.fallschurchchamber.org"><img src="http://www.cia4services.com/images/logo_gfccc.gif" border="0" alt="" width="60%" style='margin-left: 18%'></a></div>
            </td>
            <td colspan='1'>
              <div><a href="http://www.mcleanchamber.org/"><img src="http://www.cia4services.com/images/logo_gmcc.gif" border="0" alt="" width="60%" style='margin-left: 18%'></a></div>
            </td>
            <td colspan='1'>
              <div><a href="http://www.iicrc.org/"><img src="http://www.cia4services.com/images/logo_iir.gif" border="0" alt="" width="60%" style='margin-left: 18%'></a></div>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
